<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tv.doubuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <application
        android:name=".utils.DouBuyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--登录注册-->
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <!--注册-->
        <activity
            android:name=".ui.login.RegisActivity"
            android:screenOrientation="portrait"></activity>

        <!--绑定手机号-->
        <activity
            android:name=".ui.login.BindMobileActivity"
            android:screenOrientation="portrait"></activity>
        <!--设置密码-->
        <activity
            android:name=".ui.login.SetPassActivity"
            android:screenOrientation="portrait"></activity>
        <!--重置密码-->
        <activity
            android:name=".ui.login.ForgotActivity"
            android:screenOrientation="portrait"></activity>
        <!--一键开店 填写验证资料-->
        <activity
            android:name=".ui.store.OpenStoreActivity"
            android:screenOrientation="portrait"></activity>

        <!--商品列表-->
        <activity
            android:name=".ui.store.shop.ShopListActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 添加分类-->
        <activity
            android:name=".ui.store.shop.adds.AddClassActivity"
            android:screenOrientation="portrait"></activity>
        <!--添加商品-->
        <activity
            android:name=".ui.store.shop.adds.AddShopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 添加分类-->
        <activity
            android:name=".ui.store.shop.shopclass.AddClassActivity"
            android:screenOrientation="portrait"></activity>

        <!--编辑图文详情-->
        <activity
            android:name=".ui.store.shop.DescribeActivity"
            android:screenOrientation="portrait"></activity>
        <!--搜索-->
        <activity
            android:name=".ui.store.shop.search.SearchActivity"
            android:screenOrientation="portrait"></activity>


        <!--选择实名认证方式页面-->
        <activity
            android:name=".ui.store.RealActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="doubaialipay" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
        <!--上传身份证-->
        <activity
            android:name=".ui.store.UploadCardActivity"
            android:screenOrientation="portrait"></activity>

        <!--实名制认证提交成功-->
        <activity
            android:name=".ui.store.RealSumbitActivity"
            android:screenOrientation="portrait"></activity>

        <!--实体店认证-->
        <activity
            android:name=".ui.store.ContinueStoreActivity"
            android:screenOrientation="portrait"></activity>
        <!--店铺信息-->
        <activity
            android:name=".ui.store.StoreMessageActivity"
            android:screenOrientation="portrait"></activity>
        <!--WebView-->
        <activity
            android:name=".html.HtmlActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".ui.mine.SettingActivity"
            android:screenOrientation="portrait"></activity>

        <!--运费管理-->
        <activity
            android:name=".ui.store.freight.FreightActivity"
            android:screenOrientation="portrait"></activity>

        <!--员工管理-->
        <activity
            android:name=".ui.store.employees.EmployActivity"
            android:screenOrientation="portrait"></activity>
        <!--客户管理-->
        <activity
            android:name=".ui.store.customer.CustomerActivity"
            android:screenOrientation="portrait"></activity>
        
        <!--编辑商品-->
        <activity
            android:name=".ui.store.shop.editor.EditorProductActivity"
            android:screenOrientation="portrait"></activity>

        <!--商品详情-->
        <activity
            android:name=".ui.store.shop.product.ProductDetailsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5934d69db27b0a600f000727" />

        <activity
            android:name="com.android.moblie.zmxy.antgroup.creditsdk.app.SDKActivity"
            android:label="芝麻信用"
            android:screenOrientation="portrait" />

        <service
            android:name=".ui.store.shop.adds.ServerUpFile"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.tv.doubuy.ui.store.shop.adds.myfiled" />
            </intent-filter>
        </service>

    </application>

</manifest>